databases:
  # PostgreSQL Database
  - name: ghost-postgres
    databaseName: ghost
    plan: basic-1gb

services:
  # Start Our Main API Endpoint
  - type: web
    name: ghost-api
    runtime: node
    branch: ghost
    buildCommand: npm install
    preDeployCommand: npx knex migrate:latest
    startCommand: npm start
    numInstances: 1
    plan: standard
    domains:
      - 'data.appjelly.io'
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: ghost-postgres
          property: connectionString
      - key: REDIS_URL
        fromService:
          type: redis
          name: ghost-redis
          property: connectionString

  # Our Ghost Worker Class - Main AI & Content Generation Worker
  - type: worker
    name: ghost-worker
    runtime: node
    branch: ghost
    buildCommand: npm install
    startCommand: node src/background/managers/ghost.js
    numInstances: 2
    plan: standard
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: ghost-postgres
          property: connectionString
      - key: REDIS_URL
        fromService:
          type: redis
          name: ghost-redis
          property: connectionString

  # Our Cleanup Worker Class - Handles expired media and cleanup tasks
  - type: worker
    name: ghost-cleanup-worker
    runtime: node
    branch: ghost
    buildCommand: npm install
    startCommand: node src/background/managers/cleanup.js
    numInstances: 1
    plan: starter
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: ghost-postgres
          property: connectionString
      - key: REDIS_URL
        fromService:
          type: redis
          name: ghost-redis
          property: connectionString

  # Redis Cache
  - type: redis
    name: ghost-redis
    plan: basic-1gb
    maxmemoryPolicy: allkeys-lru
    ipAllowList: []
